<div class="modal-header title">
    <h4 class="modal-title title">{{my_modal_title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true" style="color: white;">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class = "row">
      <div class = "col-sm-3"></div>
      <div class = "col-sm-3"><img [src]="imageUrl1" *ngIf="imageUrl1" class="compare-image"></div>
      <div class = "col-sm-3"><img [src]="imageUrl2" *ngIf="imageUrl1" class="compare-image"></div>  
      <div class = "col-sm-3"></div>
    </div>
    <div class="chart-container" style="height: 300px; width: 460px" id="barChart"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark close-button" (click)="activeModal.close('Close click')">Close</button>
  </div>
